.contactsContainer {
  background-color: #f0e1de;
  font-family: "Libre Baskerville", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  padding: 5rem 0 5rem 0;
  height: 100vh;
}

.contactsMainContainer {
  display: flex;
}

.contactsLeftContainer {
  justify-content: flex-end;
  align-items: center;
  margin-right: 5vw;
}

.contactsRightContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5vw;
}

.contactsRightContents {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.contactsElementsContainer {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.contactsElements {
  display: flex;
  gap: 30px;
}

.contactsElements:hover {
  filter: invert(47%) sepia(38%) saturate(414%) hue-rotate(314deg)
    brightness(103%) contrast(104%);
}

.contactsElements p {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.formContainer {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.formGroup {
  border: none;
  margin-bottom: 1.5rem;
}

input,
textarea {
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  background: transparent;
}

.formLabels {
  display: inline-block;
  font-weight: 500;
}

.message {
  height: 5rem;
}

.contactsHeading {
  font-weight: bold;
  font-size: 3.5rem;
}

.contactsSubheading {
  font-family: "Montserrat", sans-serif;
}

.submitButton {
  width: fit-content;
  align-self: center;
}

.linkLogos:hover {
  filter: invert(47%) sepia(38%) saturate(414%) hue-rotate(314deg)
    brightness(103%) contrast(104%);
  transition: all 0.5s;
}
