.contactsContainer {
  background-color: #f0e1de;
  font-family: "Libre Baskerville", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  padding: 5rem 0 5rem 0;
  height: 100vh;
}

.formContainer {
  --radius: 40px;
  width: 40%;
  padding: 2.5rem 6em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--radius);
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.formGroup {
  border: none;
  margin-bottom: 1.5rem;
}

input,
textarea {
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  background: transparent;
}

label {
  display: inline-block;
}

.message {
  height: 5rem;
}

.contactsLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}

.contactsHeading {
  font-weight: bold;
}

.contactsSubheading {
  font-family: "Montserrat", sans-serif;
}

.submitButton {
  width: fit-content;
  align-self: center;
}

.linkLogos:hover {
  filter: invert(47%) sepia(38%) saturate(414%) hue-rotate(314deg)
    brightness(103%) contrast(104%);
  transition: all 0.5s;
}
