.navBar {
  background-color: #f0e1de;
  font-family: "Montserrat", sans-serif;
}

.logo {
  cursor: pointer;
}

.navBarBrand {
  font-family: "Libre Baskerville", serif;
  color: #bf7373;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
}

.navLinksContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.navLinks {
  width: 25px;
  height: 25px;
}

/* .navbar-nav .nav-link.active {
  background-color: red;
  border-bottom: 1px solid #333;
}


/* nav button effects */

a {
  text-decoration: none;
  color: inherit;
}

.menu:hover .menu__link:not(:hover) {
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, 0.35));
}

.text-underlined {
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color 0.25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);

  will-change: width;
  transition: width 0.1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before {
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after {
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
  width: 100%;
  transition-duration: 0.2s;
}
