.navBar {
  background-color: #f0e1de;
  font-family: "Montserrat", sans-serif;
}

.logo {
  cursor: pointer;
}

.navBarBrand {
  font-family: "Libre Baskerville", serif;
  color: #bf7373;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
}

.menuContainer {
  gap: 20px;
}

.navLinksContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.navLinks {
  width: 25px;
  height: 25px;
}

/* nav button effects */
a {
  text-decoration: none;
  color: inherit;
}

.navItem {
  position: relative;
}

.navItem,
.navItem:after {
  transition: all 0.5s;
}
.navItem:hover {
  color: #bf7373;
  font-weight: bold;
}

.navItem:after {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: #bf7373;
  height: 3px;
}
.navItem:hover:after {
  width: 100%;
}
.activeMenu {
  text-decoration: none;
  font-weight: bold;
  color: #bf7373;
}
