button {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #bf7373;
  border-color: #bf7373;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: hidden;
  min-width: 120px;
}

button:hover {
  color: #fff;
  background-color: #a66363;
  border-color: #a66363;
}
