.btn-primary {
  background-color: #bf7373 !important;
  border-color: #bf7373 !important;
  min-width: 100px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #bf7373 !important;
  filter: brightness(90%);
  background-color: #bf7373 !important;
}
