.workContainer {
  background-color: #f0e1de;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
  padding: 5rem 0 5rem 0;
}

.singleWorkContainer {
  display: flex;
  flex-direction: row;
}

.workLeftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
  margin-right: 2vw;
}

.workRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  margin-left: 2vw;
  margin-right: 15vw;
}

.workHeading {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 3.5rem;
}

.workSubheading {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.workButtonContainer {
  display: flex;
  column-gap: 3vw;
}

.btn-custom {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #bf7373;
  border-color: #bf7373;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: hidden;
  min-width: 120px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.workSubheading:hover {
  color: #bf7373;
  transition: all 0.5s;
}

.zoom {
  width: 40vw;
  border-radius: 10px;
  overflow: hidden;
}

.zoom img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.zoom:hover img {
  transform: scale(1.1);
}
