.footer {
  background-color: #f0e1de;
  font-family: "Montserrat", sans-serif;
  height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContainer {
  display: flex;
}

.footerCopyright {
  font-family: "Libre Baskerville", serif;
  color: #bf7373;
  font-size: 0.9rem;
  font-weight: 700;
}

.navLinksContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.navLinks {
  width: 25px;
  height: 25px;
}
